<form class="flex" [formGroup]="control">
  <select class="max-w-24" name="categories" formControlName="category">
    @for (category of categories(); track category) {
      <option value="{{ category }}">{{ category }}</option>
    }
    <option value="">+</option>
  </select>
  <input
    (focus)="focus($event)"
    (blur)="blur()"
    class="grow"
    type="text"
    formControlName="name"
  />
</form>
@if (mode.isMode("edit") && control.valid === false && control.touched) {
  <div class="m-1 text-sm text-red-500">
    @if (getControl("name").touched) {
      @if (getControl("name").errors?.["pattern"]) {
        <span>Item name cannot contain the characters , ; #</span>
      }
      @if (getControl("name").errors?.["required"]) {
        <span>Item name is required</span>
      }
    }
  </div>
}
