<div
  role="toolbar"
  aria-orientation="horizontal"
  class="bg-active sticky left-0 top-0 z-30 py-2"
  [class.shadow-md]="sticky()"
>
  <div
    class="mb-1 grid grid-cols-6 gap-2"
    role="radiogroup"
    aria-label="Editor Mode"
    i18n-aria-label="@@editor.toolbar.editor-mode"
  >
    <app-toolbar-button
      type="view"
      label="View"
      i18n-label="@@editor.toolbar.editor-mode.view"
    >
      <app-icon-view class="my-auto h-6 w-6" />
    </app-toolbar-button>
    <app-toolbar-button
      type="edit"
      label="Edit"
      i18n-label="@@editor.toolbar.editor-mode.edit"
      [disabled]="!noOfVisibleRules() && !!searchTerm()"
    >
      <app-icon-edit class="my-auto h-6 w-6" />
    </app-toolbar-button>
    <app-toolbar-button
      type="delete"
      label="Delete"
      i18n-label="@@editor.toolbar.editor-mode.delete"
      [disabled]="!noOfVisibleRules()"
    >
      <app-icon-delete class="my-auto h-6 w-6" />
    </app-toolbar-button>
    <app-toolbar-button
      type="cut-paste"
      label="Cut/Paste"
      i18n-label="@@editor.toolbar.editor-mode.cut-paste"
      [disabled]="
        noOfVisibleRules() < 2 &&
        !clipboard.itemsCount() &&
        !clipboard.questionsCount()
      "
    >
      <app-icon-reorder class="my-auto h-6 w-6" />
    </app-toolbar-button>
    <app-toolbar-button
      type="swap"
      label="Swap"
      i18n-label="@@editor.toolbar.editor-mode.swap"
      [disabled]="!noOfVisibleRules()"
    >
      <app-icon-swap class="my-auto h-6 w-6" />
    </app-toolbar-button>
    <app-toolbar-button
      type="search"
      label="Search"
      i18n-label="@@editor.toolbar.editor-mode.search"
    >
      <app-icon-search class="my-auto h-6 w-6" />
    </app-toolbar-button>
  </div>
  @if (mode() === 'cut-paste') {
    @if (clipboard.itemsCount() > 0 || clipboard.questionsCount() > 0) {
      <div
        class="mt-2 flex justify-center gap-4"
        role="status"
        aria-label="clipboard"
        i18n-aria-label="@@editor.toolbar.clipboard"
      >
        <span i18n="@@edit.toolbar.clipboard">Clipboard:</span>
        @if (clipboard.itemsCount(); as itemsCount) {
          <span i18n="@@edit.toolbar.clipboard.items">{itemsCount, plural,
            one {1 Item}
            other {{{itemsCount}} Items}
          }</span>
        }
        @if (clipboard.questionsCount(); as questionsCount) {
          <span
            i18n="@@edit.toolbar.clipboard.questions"
            >{questionsCount, plural,
              one {1 Question}
              other {{{questionsCount}} Questions}

          }</span>
        }
      </div>
    }
  } @else if (mode() === 'search' || searchTerm()) {
    <div class="mt-2 flex items-center">
      <input
        #searchInput
        type="text"
        class="grow"
        role="searchbox"
        aria-label="search in rules"
        i18n-aria-label="@@editor.toolbar.search.label"
        [(ngModel)]="searchTerm"
      />
      <button
        type="button"
        class="link"
        aria-label="clear search"
        i18n-aria-label="@@editor.toolbar.search.clear"
        (click)="clearSearch()"
      >
        <app-icon-clear class="h-6 w-6" />
      </button>
    </div>
  }
</div>
