<app-toolbar [noOfVisibleRules]="visibleRules().length" />
@for (item of visibleRules(); track item.index) {
  @if (item.index > 0 && mode() === "swap" && !filter()) {
    <div class="flex justify-center">
      <button
        type="button"
        class="icon"
        (click)="swapRules(item.index - 1, item.index)"
      >
        <app-icon-swap />
      </button>
    </div>
  }
  <div
    class="card mb-1"
    [id]="'rule-' + item.index"
    [ngClass]="{
      disabled: showAsDisabled(item.rule),
      'animate-pulse': highlightRule() === item.index,
    }"
  >
    <app-editor-rule
      [rule]="item.rule"
      (ruleChanged)="updateRule(item.index, $event)"
      (deleteRule)="deleteRule(item.index)"
      (renameVariable)="renameVariable($event)"
    />
  </div>
}
@if (mode() === "edit" && !filter()) {
  <button
    i18n="@@edit.rules.add-rule"
    type="button"
    class="sticky bottom-0 z-50"
    (click)="addRule()"
  >
    + Rule
  </button>
}
