<div class="flex flex-col items-center gap-4 text-center" role="alert">
  <p i18n>The following error occurred while parsing the rules:</p>
  <p class="text-red-normal font-mono">{{ error() }}</p>
  @if (rulesMode() === 'local') {
    <p i18n>
      Unfortunately, this error can only be fixed by changing the rules
      manually.
    </p>
    <p i18n>
      Please do that
      <button
        class="link inline p-0 underline"
        type="button"
        aria-label="Fix error in raw editor"
        (click)="goToRawEditor()"
        i18n-aria-label
      >
        here</button
      >.
    </p>
  }
  @if (rulesMode() === 'remote') {
    <p i18n>
      As the rules come from a remote source, they are either not parsable or
      the source is not returning plain text rules.
    </p>
  }
</div>
