<h2 class="text-lg font-bold" i18n>Pack List</h2>
@if (currentSlot()) {
  @let hasSessionName = !!sessionName();
  <p class="font-bold">{{ sessionLabel() }}</p>
  <button i18n type="button" (click)="renameSession()">
    {hasSessionName // i18n(ph="HAS_SESSION_NAME"), select,
      true {Rename Session}
      other {Name Session}
    }
  </button>
  <button i18n type="button" (click)="disconnectSession()">
    Disconnect Session
  </button>
} @else {
  <p i18n class="font-bold">No active session</p>
  <button i18n type="button" (click)="resetPackList()">Reset Pack List</button>
  <button i18n type="button" (click)="startNewSession()">Start Session</button>
  <button i18n type="button" (click)="restoreSession()">Restore Session</button>
}
<cmp-checkbox
  id="track-weight"
  label="Track item weight"
  i18n-label
  help="You can enter the item weight appended to the item name in the editor."
  i18n-help
  [(ngModel)]="trackWeight"
/>
<cmp-checkbox
  id="skip-items"
  label="Allow skipping items"
  i18n-label
  [help]="skipItemsHelpText()"
  [(ngModel)]="skipItems"
/>
<cmp-select-options
  label="Sort categories"
  i18n-label
  [(ngModel)]="categorySorting"
>
  <ng-template value="alphabetically" i18n>alphabetically</ng-template>
  <ng-template value="definition" i18n>order of definition</ng-template>
  @if (trackWeight()) {
    <ng-template value="weight" i18n>by weight</ng-template>
  }
</cmp-select-options>
