import { Parser } from '@travel-packlist/model';
import template from '<%= importName(name, lang) %>?raw';

describe('<%= name %> (<%= lang %>) template', () => {
  it('should parse', () => {
    const parser = new Parser();
    const result = parser.parseRules(template);
    expect(result).toBeDefined();
  });
});
