:host {
  display: flex;
  flex-direction: column;
}

.rules {
  flex: 1;
}

.feedback {
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.error {
  color: red;
}

.info {
  color: orange;
}

.success {
  color: green;
}
