@if (error(); as error) {
  <app-error [error]="error" />
} @else {
  <app-toolbar />
  @for (rule of parsedRules(); track $index) {
    @if ($index > 0 && mode.isMode("swap")) {
      <div class="flex justify-center">
        <button
          type="button"
          class="icon"
          (click)="swapRules($index - 1, $index)"
        >
          <app-icon-swap />
        </button>
      </div>
    }
    <div
      class="card mb-1"
      [id]="'rule-' + $index"
      [ngClass]="{ disabled: showAsDisabled(rule) }"
    >
      <app-editor-rule
        [rule]="rule"
        [categories]="categories()"
        [variables]="variables()"
        (ruleChanged)="updateRule($index, $event)"
        (renameVariable)="renameVariable($event)"
      />
    </div>
  }
  @if (mode.isMode("edit")) {
    <button type="button" class="sticky bottom-0 z-50" (click)="addRule()">
      + Rule
    </button>
  }
}
