<div class="card mb-1">
  @if (trackWeight()) {
    <div class="mb-1 flex">
      <progress
        class="grow"
        [value]="weightChecked()"
        [max]="weightTotal()"
      ></progress>
    </div>
    <div class="flex flex-col items-center">
      <span>{{ currentlyCheckedItems() }} / {{ items().length }}</span>
      <span>
        {{ serializeWeight(weightChecked(), undefined, 1) || "0g" }} /
        {{ serializeWeight(weightTotal(), "kg", 1) || "0kg" }}
      </span>
    </div>
  } @else {
    <div class="mb-1 flex">
      <progress
        class="grow"
        [value]="currentlyCheckedItems()"
        [max]="items().length"
      ></progress>
    </div>
    <div class="flex justify-center">
      <span>{{ currentlyCheckedItems() }} / {{ items().length }}</span>
    </div>
  }
</div>

@for (group of groupedItems() | keyvalue: orderBy(); track group.key) {
  <div class="card mb-1">
    <div
      role="button"
      tabindex="0"
      class="flex justify-between"
      (click)="toggleGroup(group.key)"
      (keypress)="toggleGroup(group.key)"
    >
      <div class="flex items-center gap-1">
        @if (group.value.collapsed) {
          <app-icon-key-right class="h-5 w-5" />
        } @else {
          <app-icon-key-down class="h-5 w-5" />
        }
        <span class="font-bold italic">{{ group.key }}</span>
        @if (trackWeight() && group.value.weight) {
          <span class="text-sm"
            >({{ serializeWeight(group.value.weight, undefined, 1) }})</span
          >
        }
      </div>
      <app-status
        [count]="group.value.checked"
        [total]="group.value.items.length"
      />
    </div>
    @if (!group.value.collapsed) {
      <ul class="pt-2">
        @for (item of group.value.items; track $index) {
          <li
            role="button"
            tabindex="0"
            class="flex justify-between"
            [ngClass]="{ 'text-slate-500 line-through': item.checked }"
            (click)="toggle(item)"
            (keypress)="toggle(item)"
          >
            {{ item.name }}
            @if (item.weight && trackWeight()) {
              <span class="italic">{{ serializeWeight(item.weight) }}</span>
            }
          </li>
        }
      </ul>
    }
  </div>
}
