<button
  #exportButton
  i18n
  type="button"
  [class.highlighted]="highlightExport() && exportNeeded()"
  [disabled]="!isExportAvailable()"
  (click)="exportRules()"
>
  Export Rules
</button>
@if (exportNeeded()) {
  <div
    i18n
    class="text-red text-center italic"
    role="alert"
    aria-live="polite"
    aria-label="Export needed"
    i18n-aria-label
  >
    Current rules are not backed up!
  </div>
}
<button
  #importButton
  i18n
  type="button"
  [class.highlighted]="highlightImport()"
  (click)="importRules()"
>
  Import Rules
</button>
<cmp-checkbox
  id="export-reminder"
  label="Remind me to regularly export rules"
  i18n-label
  [(ngModel)]="exportReminder"
/>

@if (loading()) {
  <div
    iconDownload
    iconClass="h-[12rem] w-[12rem]"
    class="loading fixed left-0 top-0 flex h-svh w-full items-center justify-center bg-white opacity-30"
  ></div>
}
