<div class="section">
  <span i18n="@@config.checklist" class="font-bold">Checklist</span>
  <button
    i18n="@@config.checklist.reset"
    type="button"
    (click)="resetChecklist()"
  >
    Reset Checklist
  </button>
  <cmp-checkbox
    id="track-weight"
    label="Track item weight"
    i18n-label="@@config.checklist.track-weight"
    help="You can enter the item weight appended to the item name in the editor."
    i18n-help="@@config.checklist.track-weight.description"
    [(ngModel)]="trackWeight"
  />
  <cmp-select-options
    label="Sort categories"
    i18n-label="@@config.checklist.category-sorting"
    [(ngModel)]="categorySorting"
  >
    <ng-template
      value="alphabetically"
      i18n="@@config.checklist.category-sorting.alphabetically"
      >alphabetically</ng-template
    >
    <ng-template
      value="definition"
      i18n="@@config.checklist.category-sorting.definition"
      >order of definition</ng-template
    >
  </cmp-select-options>
</div>

<div class="section">
  <span i18n="@@config.rules" class="font-bold">Rules</span>
  <button i18n="@@config.rules.edit" type="button" routerLink="/rules">
    Edit Rules
  </button>
  <cmp-checkbox
    id="rules-debug-mode"
    label="Fade out disabled rules in editor"
    i18n-label="@@config.rules.edit.fadeout-disabled"
    [(ngModel)]="fadeOutDisabledRules"
  />
  <cmp-checkbox
    id="variables-debug-mode"
    label="Highlight variable status in editor"
    i18n-label="@@config.rules.edit.highlight-variables"
    [(ngModel)]="highlightVariableStatus"
  />
  <cmp-checkbox
    id="variables-refactor"
    label="Rename all occurrences when renaming variables"
    i18n-label="@@config.rules.refactor-variables"
    [(ngModel)]="refactorVariables"
  />
  <hr />
  <button
    i18n="@@config.rules.documentation"
    type="button"
    routerLink="/documentation"
  >
    Documentation
  </button>
  <button i18n="@@config.rules.edit-raw" type="button" routerLink="/rules-raw">
    Edit Rules with Code
  </button>
  <hr />
  <button
    #exportButton
    i18n="@@config.rules.export"
    type="button"
    [ngClass]="{
      'bg-green-light animate-pulse': highlightExport() && exportNeeded(),
    }"
    [disabled]="!isExportAvailable()"
    (click)="exportRules()"
  >
    Export Rules
  </button>
  @if (exportNeeded()) {
    <div
      i18n="@@config.rules.export-needed"
      class="text-red text-center italic"
    >
      Current rules are not backed up!
    </div>
  }
  <button
    #importButton
    i18n="@@config.rules.import"
    type="button"
    [ngClass]="{
      'bg-green-light animate-pulse': highlightImport(),
    }"
    (click)="importRules()"
  >
    Import Rules
  </button>
  <cmp-checkbox
    id="export-reminder"
    label="Remind me to regularly export rules"
    i18n-label="@@config.rules.export-reminder"
    [(ngModel)]="exportReminder"
  />
</div>

<div class="section">
  <span i18n="@@config.appearance" class="font-bold">Appearance</span>
  <cmp-select-options
    label="Theme"
    i18n-label="@@config.theme"
    [(ngModel)]="theme"
  >
    <ng-template value="dark" i18n="@@config.theme.dark">Dark</ng-template>
    <ng-template value="light" i18n="@@config.theme.light">Light</ng-template>
    <ng-template value="system" i18n="@@config.theme.system"
      >System</ng-template
    >
  </cmp-select-options>
  <cmp-select-options
    label="Font Size"
    i18n-label="@@config.fontsize"
    [(ngModel)]="fontSize"
  >
    <ng-template value="small"
      ><span class="text-[16px]" i18n="@@config.fontsize.small"
        >small</span
      ></ng-template
    >
    <ng-template value="normal"
      ><span class="text-[18px]" i18n="@@config.fontsize.normal"
        >normal</span
      ></ng-template
    >
    <ng-template value="large"
      ><span class="text-[20px]" i18n="@@config.fontsize.large"
        >large</span
      ></ng-template
    >
  </cmp-select-options>
  <cmp-select-options
    label="Accessibility"
    i18n-label="@@config.accessibility"
    [(ngModel)]="accessibility"
  >
    <ng-template value="accessible" i18n="@@config.accessibility.accessible"
      >accessible</ng-template
    >
    <ng-template value="compact" i18n="@@config.accessibility.compact"
      >compact</ng-template
    >
  </cmp-select-options>
  <cmp-select-options
    label="Language"
    i18n-label="@@config.language"
    [(ngModel)]="language"
  >
    <ng-template value="auto" i18n="@@config.language.detect"
      >detect</ng-template
    >
    <ng-template value="en">
      <app-flag-uk class="h-6 w-8" />
    </ng-template>
    <ng-template value="de">
      <app-flag-germany class="h-6 w-8" />
    </ng-template>
  </cmp-select-options>
</div>

<div class="section">
  <span i18n="@@config.appversion" class="font-bold">App Version</span>
  <span
    ><a
      [href]="
        'https://github.com/dhhyi/travel-packlist/releases/tag/v' + version
      "
    >
      @if (displayVersionCode) {
        {{ versionCode }} ({{ version }})
      } @else {
        {{ version }}
      }
    </a></span
  >
  <span i18n="@@config.appversion.built" class="italic"
    >built on {{ buildTime | date: 'long' // i18n(ph="LONG_DATE") }}</span
  >
  <span class="truncate font-mono text-sm text-slate-500"
    ><a [href]="'https://github.com/dhhyi/travel-packlist/commit/' + gitHash">{{
      gitHash
    }}</a></span
  >
  @if (displayServiceWorkerStatus) {
    <span i18n="@@config.service-worker" class="font-mono text-sm"
      >Service Worker: {{ serviceWorkerStatus() }}</span
    >
  }
</div>

<div class="section">
  <span i18n="@@config.support" class="font-bold">Support</span>
  <div class="flex flex-col gap-4">
    <p i18n="@@config.support.issues">
      If you find any bugs or have any suggestions, please open an issue on
      GitHub:
      <a href="https://github.com/dhhyi/travel-packlist/issues" target="_blank">
        <img
          class="inline"
          src="https://img.shields.io/github/issues/dhhyi/travel-packlist"
          alt="GitHub issues"
          i18n-alt="@@config.support.issues.github"
        />
      </a>
    </p>
    <p i18n="@@config.support.email">
      Alternatively, you can reach out to me by
      <a href="mailto:dhhyi@aol.com" target="_blank">
        <img
          class="inline"
          src="https://img.shields.io/badge/email-dhhyi%40aol.com-blue"
          alt="Email"
          i18n-alt="@@config.support.email.label"
        />
      </a>
    </p>
    @if (displayKoFi) {
      <p i18n="@@config.support.ko-fi">
        If you like this app, please consider to
        <a href="https://ko-fi.com/danilohoffmann" target="_blank">
          <img
            class="inline max-w-[10rem]"
            src="https://storage.ko-fi.com/cdn/brandasset/kofi_button_stroke.png"
            alt="Buy Me a Coffee at ko-fi.com"
            i18n-alt="@@config.support.ko-fi.label"
          />
        </a>
      </p>
    }
  </div>
</div>

<div class="section">
  <span i18n="@@config.dangerzone" class="font-bold">DANGER!</span>
  <button
    i18n="@@config.dangerzone.reset"
    type="button"
    class="red"
    (click)="resetEverything()"
  >
    Reset Application
  </button>
</div>

@if (loading()) {
  <div
    class="loading fixed left-0 top-0 flex h-svh w-full items-center justify-center bg-white opacity-30"
  >
    <app-icon-download class="h-[12rem] w-[12rem]" />
  </div>
}
