<app-config-checklist />

<app-config-rules-mode />

<div [class.hidden]="rulesMode() !== 'local'">
  <app-config-rules-editor />
  <app-config-rules-import-export />
</div>

<div [class.hidden]="rulesMode() !== 'remote'">
  <app-config-rules-remote />
  <app-config-rules-viewer />
</div>

<div [class.hidden]="rulesMode() !== 'template'">
  <app-config-rules-template />
  <app-config-rules-viewer />
</div>

<app-config-appearance />
<app-config-version />
<app-config-support />
<app-config-dangerzone />
