@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: var(--html-font-size, 18px);
    font-family: sans-serif;
  }

  body {
    @apply bg-active text-black dark:text-slate-300;
  }

  html,
  body {
    @apply h-full;
  }

  .bg-active {
    @apply bg-white dark:bg-slate-900;
  }

  .bg-disabled {
    @apply bg-slate-100 dark:bg-slate-800;
  }

  .animations {
    body,
    .bg-active,
    .bg-disabled {
      @apply transition-colors;
    }
  }
}

@layer components {
  .card {
    @apply rounded-md border-2 border-slate-300 p-2 shadow-inner;

    &.disabled {
      @apply bg-disabled opacity-50;
    }
  }

  .help {
    @apply absolute m-2 translate-y-[3rem] rounded-lg border border-slate-300 bg-slate-100 p-2 text-sm text-gray-500 dark:bg-slate-800 dark:text-slate-300;
  }

  svg {
    @apply fill-black dark:fill-slate-300;
  }

  button {
    @apply flex items-center justify-center rounded bg-slate-300 px-4 py-2 font-bold text-black hover:bg-slate-400 dark:bg-slate-700 dark:text-slate-300;

    &[disabled] {
      @apply bg-disabled cursor-not-allowed text-gray-500;
    }

    &.red {
      @apply bg-red-normal hover:bg-red-light text-white;
    }

    &.secondary {
      @apply bg-slate-200 text-black hover:bg-slate-300 dark:bg-slate-800 dark:text-slate-300 dark:hover:bg-slate-700;
    }

    &.link {
      @apply border-none bg-transparent;

      &[disabled] {
        @apply bg-transparent;

        > * > svg {
          @apply fill-slate-500;
        }
      }
    }

    &.active {
      @apply ring ring-slate-800 dark:ring-slate-200;
    }

    &.highlighted {
      @apply bg-green-light animate-pulse;
    }
  }

  fieldset {
    @apply rounded-md border border-slate-500 p-2;
  }

  legend {
    @apply px-1 italic;
  }

  input,
  select {
    @apply h-8 rounded-md border border-slate-300 bg-transparent p-1;

    &[disabled] {
      @apply border border-transparent bg-transparent;
    }
  }

  select {
    @apply pl-0;

    &[disabled] {
      @apply appearance-none pl-1 pr-4;
    }
  }

  input.ng-invalid.ng-touched,
  input:focus-visible.ng-invalid.ng-touched {
    @apply border-red-normal bg-red-light outline-red-normal;
  }

  .accessible {
    button,
    input,
    select,
    [role='button'],
    [role='checkbox'],
    [role='radio'],
    .accessible-content {
      @apply h-[49px] min-w-[49px];
    }
  }

  .animations {
    button,
    [role='button'] {
      @apply transition-colors;
    }

    .card {
      @apply transition-opacity;
    }
  }
}

@layer utilities {
  .text-green {
    @apply text-green-normal dark:text-green-light;
  }

  .text-red {
    @apply text-red-normal dark:text-red-light;
  }

  .text-checked-item {
    @apply text-slate-600 line-through dark:text-slate-400;
  }
}
