<h2 class="text-lg font-bold" i18n>Rule Templates</h2>
<cmp-select-options
  label="Rules Template"
  i18n-label
  fieldSetClass="justify-start big:pl-4"
  [legendHidden]="true"
  [(ngModel)]="rulesTemplate"
>
  <ng-template value="default" i18n
    >Example template with some existing rules.</ng-template
  >
  <ng-template value="logic" i18n
    >Template showing logical operations.</ng-template
  >
  <ng-template value="backpacking" i18n
    >Example template for a multi-day backpacking trip.</ng-template
  >
  <ng-template value="empty" i18n
    >Empty template for starting your own rules.</ng-template
  >
</cmp-select-options>
<button i18n type="button" (click)="copyRulesLocally()">
  Copy rules locally
</button>
