<textarea
  class="grow resize-none rounded border border-gray-300 bg-gray-100 px-1 py-0 pb-8 font-mono leading-tight text-gray-700 focus:outline-none dark:bg-gray-900 dark:text-gray-300"
  [formControl]="rulesControl"
></textarea>
<div class="bg-active bottom-0 p-2 font-mono">
  @if (parserState(); as state) {
    @switch (state.type) {
      @case ('pending') {
        <div i18n="@@edit-raw.waiting" class="text-yellow-normal">
          Waiting for input.
        </div>
      }
      @case ('success') {
        <!-- prettier-ignore -->
        <div i18n="@@edit-raw.parsed-success" class="text-green-normal">
          Parsed {{ state.rules // i18n(ph="NUMBER_OF_RULES") }} rules successfully!
        </div>
      }
      @default {
        <div class="text-red-normal">{{ state.error }}</div>
      }
    }
  }
</div>
