<textarea
  aria-label="Rules as code"
  i18n-aria-label
  class="grow resize-none rounded-sm border border-gray-300 bg-gray-100 px-1 py-0 pb-8 font-mono leading-tight text-gray-700 focus:outline-hidden dark:bg-gray-900 dark:text-gray-300"
  [formControl]="rulesControl"
></textarea>
<div
  class="bg-active bottom-0 p-2 font-mono"
  aria-label="Parser state"
  i18n-aria-label
  aria-live="polite"
>
  @if (parserState(); as state) {
    @switch (state.type) {
      @case ('pending') {
        <div
          aria-label="pending"
          i18n-aria-label
          i18n
          class="text-yellow-normal"
        >
          Waiting for input.
        </div>
      }
      @case ('success') {
        @let numberOfRules = state.rules;
        <div aria-label="success" i18n-aria-label i18n class="text-green">
          Parsed
          {numberOfRules // i18n(ph="NUMBER_OF_RULES"), plural,
            one {1 rule}
            other {{{numberOfRules}} rules}
          }
          successfully!
        </div>
      }
      @default {
        <div aria-label="error" i18n-aria-label class="text-red">
          {{ state.error }}
        </div>
      }
    }
  }
</div>
