.rule-editor {
  display: flex;
  flex-direction: column;
}

.editor-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 3px 0;
  height: 30px;
}

.editor-row > *:not(button) {
  flex: 1;
}

.code,
.error {
  font-family: monospace;
  text-wrap: balance;
}

.error {
  color: var(--red);
}

.button-row {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

button {
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  border: 0;
}

.delete-icon,
.delete,
.cut-icon,
.paste {
  border: 1px solid var(--gray);
  border-radius: 6px;
  color: white;
}

.delete-icon,
.delete {
  background-color: var(--red);
}

.cut-icon,
.paste {
  background-color: var(--blue);
}
