.rule-editor {
  display: flex;
  flex-direction: column;
}

.editor-row {
  display: grid;
  grid-template-columns: auto 25px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.code,
.error {
  font-family: monospace;
  text-wrap: balance;
}

.error {
  color: red;
}
