.rule-editor {
  display: flex;
  flex-direction: column;
}

.editor-row {
  display: grid;
  grid-template-columns: auto 25px;
  gap: 5px;
  padding: 3px 0;
}

.code,
.error {
  font-family: monospace;
  text-wrap: balance;
}

.error {
  color: var(--red);
}

.button-row {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.button-row > .delete {
  order: 1;
  margin-left: auto;
}

button {
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  border: 0;
}

.delete-icon,
.delete {
  border: 1px solid var(--gray);
  background-color: var(--red);
  border-radius: 6px;
}
