<div class="mb-1 flex h-8 items-center">
  <app-editor-condition
    class="grow"
    [variables]="variables()"
    [condition]="rule().condition"
    (conditionChanged)="updateCondition($event)"
  ></app-editor-condition>
  @if (mode.isMode("edit")) {
    <button class="icon" (click)="resetCondition()">
      <app-icon-delete></app-icon-delete>
    </button>
  }
</div>

@for (question of rule().effects.questions; track $index) {
  <div class="mb-1 flex h-16 items-center">
    <app-editor-question
      class="grow"
      [question]="question"
      (questionChanged)="updateQuestion($index, $event)"
    ></app-editor-question>
    @if (mode.isMode("delete")) {
      <button class="icon" (click)="deleteQuestion($index)">
        <app-icon-delete></app-icon-delete>
      </button>
    } @else if (mode.isMode("cut-paste")) {
      <button class="icon" (click)="cutQuestion($index)">
        <app-icon-cut></app-icon-cut>
      </button>
    }
  </div>
}

@for (item of rule().effects.items; track $index) {
  <div class="mb-1 flex h-8 items-center">
    <app-editor-item
      class="grow"
      [item]="item"
      [categories]="categories()"
      (itemChanged)="updateItem($index, $event)"
    ></app-editor-item>
    @if (mode.isMode("delete")) {
      <button class="icon" (click)="deleteItem($index)">
        <app-icon-delete></app-icon-delete>
      </button>
    } @else if (mode.isMode("cut-paste")) {
      <button class="icon" (click)="cutItem($index)">
        <app-icon-cut></app-icon-cut>
      </button>
    }
  </div>
}

@if (mode.isMode("edit")) {
  <div class="flex justify-end gap-2">
    <button (click)="addQuestion()">+ Question</button>
    <button (click)="addItem()">+ Item</button>
  </div>
} @else {
  <div class="flex justify-center">
    @if (mode.isMode("delete")) {
      <button class="icon" (click)="deleteRule()">
        <app-icon-delete></app-icon-delete>
      </button>
    }
    @if (mode.isMode("cut-paste")) {
      <button class="icon" (click)="paste()">
        <app-icon-paste></app-icon-paste>
      </button>
    }
  </div>
}

@if (errorMessage(); as error) {
  <pre>{{ error }}</pre>
  <pre>{{ ruleDebugString() }}</pre>
}
