<div class="mb-1 flex items-center">
  <app-editor-condition
    class="grow"
    [condition]="rule().condition"
    (conditionChanged)="updateCondition($event)"
  />
  @if (mode() === "edit") {
    <button class="icon" type="button" (click)="resetCondition()">
      <app-icon-clear />
    </button>
  }
</div>

@for (question of rule().questions; track $index) {
  <div class="mb-1 flex items-center">
    @if (mode() === "swap") {
      @if ($index < rule().questions.length - 1) {
        <button
          class="icon"
          type="button"
          (click)="swapQuestions($index, $index + 1)"
        >
          <app-icon-down />
        </button>
      } @else {
        <span class="ml-6"></span>
      }
    }
    <app-editor-question
      class="grow"
      [question]="question"
      (questionChanged)="updateQuestion($index, $event)"
      (variableChanged)="variableChanged($event)"
    />
    @if (mode() === "delete") {
      <button class="icon" type="button" (click)="deleteQuestion($index)">
        <app-icon-delete />
      </button>
    } @else if (mode() === "cut-paste") {
      <button class="icon" type="button" (click)="cutQuestion($index)">
        <app-icon-cut />
      </button>
    } @else if (mode() === "swap" && $index > 0) {
      <button
        class="icon"
        type="button"
        (click)="swapQuestions($index - 1, $index)"
      >
        <app-icon-up />
      </button>
    }
  </div>
}

@for (item of rule().items; track $index) {
  <div class="mb-1 flex items-center">
    @if (mode() === "swap") {
      @if ($index < rule().items.length - 1) {
        <button
          class="icon"
          type="button"
          (click)="swapItems($index, $index + 1)"
        >
          <app-icon-down />
        </button>
      } @else {
        <span class="ml-6"></span>
      }
    }
    <app-editor-item
      class="grow"
      [item]="item"
      (itemChanged)="updateItem($index, $event)"
    />
    @if (mode() === "delete") {
      <button class="icon" type="button" (click)="deleteItem($index)">
        <app-icon-delete />
      </button>
    } @else if (mode() === "cut-paste") {
      <button class="icon" type="button" (click)="cutItem($index)">
        <app-icon-cut />
      </button>
    } @else if (mode() === "swap" && $index > 0) {
      <button
        type="button"
        class="icon"
        (click)="swapItems($index - 1, $index)"
      >
        <app-icon-up />
      </button>
    }
  </div>
}

@if (mode() === "edit") {
  <div class="flex justify-end gap-2">
    <button
      i18n="@@edit.rules.add-question"
      type="button"
      (click)="addQuestion()"
    >
      + Question
    </button>
    <button i18n="@@edit.rules.add-item" type="button" (click)="addItem()">
      + Item
    </button>
  </div>
} @else {
  <div class="flex justify-center">
    @if (mode() === "delete") {
      <button type="button" class="icon" (click)="deleteRule()">
        <app-icon-delete />
      </button>
    }
    @if (mode() === "cut-paste") {
      <button type="button" class="icon" (click)="paste()">
        <app-icon-paste />
      </button>
    }
  </div>
}

@if (errorMessage(); as error) {
  <pre>{{ error }}</pre>
  <pre>{{ ruleDebugString() }}</pre>
}
