@if (error(); as error) {
  <app-error [error]="error" />
} @else {
  @for (question of questions(); track question.question) {
    <div class="card mb-1" [ngClass]="{ disabled: isLockActive() }">
      <app-display-question
        [question]="question.question"
        [value]="model()[question.variable]"
        (valueChange)="modelChange(question.variable, $event)"
      />
    </div>
  }

  <div class="flex justify-center">
    <button type="button" class="icon" (click)="toggleLock()">
      @if (isLockActive()) {
        <app-icon-lock [size]="24" />
      } @else {
        <app-icon-lock-open [size]="24" />
      }
    </button>
  </div>

  <app-display-items [items]="items()" />
}
