<h2 class="text-lg font-bold" i18n>Appearance</h2>
<cmp-select-options label="Language" i18n-label [(ngModel)]="language">
  <ng-template value="auto" i18n>auto</ng-template>
  <ng-template value="en">
    <span
      aria-label="English"
      i18n-aria-label
      flagUk
      iconClass="h-6 w-8"
    ></span>
  </ng-template>
  <ng-template value="de">
    <span
      aria-label="German"
      i18n-aria-label
      flagGermany
      iconClass="h-6 w-8"
    ></span>
  </ng-template>
</cmp-select-options>
<cmp-select-options label="Theme" i18n-label [(ngModel)]="theme">
  <ng-template value="dark" i18n>Dark</ng-template>
  <ng-template value="light" i18n>Light</ng-template>
  <ng-template value="system" i18n>System</ng-template>
</cmp-select-options>
<cmp-select-options label="Font Size" i18n-label [(ngModel)]="fontSize">
  <ng-template value="small"
    ><span class="text-[16px]" i18n>small</span></ng-template
  >
  <ng-template value="normal"
    ><span class="text-[18px]" i18n>normal</span></ng-template
  >
  <ng-template value="large"
    ><span class="text-[20px]" i18n>large</span></ng-template
  >
</cmp-select-options>
<cmp-select-options
  label="Accessibility"
  i18n-label
  [(ngModel)]="accessibility"
>
  <ng-template value="accessible" i18n>accessible</ng-template>
  <ng-template value="compact" i18n>compact</ng-template>
</cmp-select-options>
<cmp-checkbox
  id="animations"
  label="Animations"
  i18n-label
  [(ngModel)]="animations"
/>
