<div>
  @if (depth() === 0) {
    <span>IF</span>
  }

  @switch (state().type) {
    @case ("true") {
      <ng-container *ngTemplateOutlet="select; context: ''"></ng-container>
    }
    @case ("variable") {
      <ng-container *ngTemplateOutlet="select; context: state()"></ng-container>
    }
    @case ("not") {
      <div>
        <span>NOT</span>
        @if (asNot(state().condition); as not) {
          <app-editor-condition
            [depth]="depth() + 1"
            [condition]="not.not"
            [variables]="variables()"
            [forbidden]="['', 'not', 'and', 'or']"
            (conditionChanged)="bubbleNotChange($event)"
          ></app-editor-condition>
        }
      </div>
    }
    @case ("and") {
      <div>
        @if (asAnd(state().condition); as and) {
          <app-editor-condition
            [depth]="depth() + 1"
            [condition]="and.left"
            [variables]="variables()"
            [forbidden]="['', 'or']"
            (conditionChanged)="bubbleAndLeftChange($event)"
          >
          </app-editor-condition>
          <span>AND</span>
          <app-editor-condition
            [depth]="depth() + 1"
            [condition]="and.right"
            [variables]="variables()"
            [forbidden]="['', 'or']"
            (conditionChanged)="bubbleAndRightChange($event)"
          ></app-editor-condition>
        }
      </div>
    }
    @case ("or") {
      <div>
        @if (asOr(state().condition); as or) {
          <app-editor-condition
            [depth]="depth() + 1"
            [condition]="or.left"
            [variables]="variables()"
            [forbidden]="['']"
            (conditionChanged)="bubbleOrLeftChange($event)"
          >
          </app-editor-condition>
          <span>OR</span>
          <app-editor-condition
            [depth]="depth() + 1"
            [condition]="or.right"
            [variables]="variables()"
            [forbidden]="['']"
            (conditionChanged)="bubbleOrRightChange($event)"
          ></app-editor-condition>
        }
      </div>
    }
    @case ("unknown") {
      <pre>UNKNOWN</pre>
    }
  }
</div>

<ng-template #select let-context="context">
  <select
    #select
    (change)="selection(select.value)"
    [disabled]="!mode.isMode('edit')"
  >
    @for (option of options(); track option) {
      @switch (option) {
        @case ("") {
          <option value="">always active</option>
        }
        @case ("not") {
          <option value="not">NOT x</option>
        }
        @case ("and") {
          <option value="and">x AND x</option>
        }
        @case ("or") {
          <option value="or">x OR x</option>
        }
        @default {
          <option
            value="{{ option }}"
            [selected]="context === option"
            [disabled]="option === please_select"
          >
            {{ option }}
          </option>
        }
      }
    }
  </select>
</ng-template>
