:host {
  display: grid;
  grid-template-columns: 1fr;
}

.keyword {
  margin: 0px 6px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

.not-expression {
  display: grid;
  grid-template-columns: 50px auto;
}

.and-expression,
.or-expression {
  display: grid;
  grid-template-columns: auto 50px auto;
}
