<div aria-label="condition" i18n-aria-label role="group">
  <div class="mb-1 flex items-center">
    <app-editor-condition
      class="accessible-content grow"
      [condition]="rule().condition"
      [selectVariables]="selectVariables()"
      (conditionChanged)="updateCondition($event)"
    />
    @if (mode() === 'edit') {
      <button
        iconClear
        class="link"
        type="button"
        aria-label="reset condition"
        i18n-aria-label
        (click)="resetCondition()"
      ></button>
    }
  </div>

  @if (mode() === 'edit' && conditionWarnings().length) {
    <div class="text-yellow-normal m-1 flex flex-col text-sm" role="status">
      @for (warning of conditionWarnings(); track $index) {
        @switch (warning.type) {
          @case ('undeclared') {
            <span i18n>
              Variable {{ warning.variable // i18n(ph="VARIABLE_NAME") }} is not
              declared in any question.
            </span>
          }
        }
      }
    </div>
  }
</div>

@for (question of rule().questions; track $index) {
  <div class="mb-1 flex items-center">
    @if (mode() === 'swap' && $count > 1) {
      @if (!$last) {
        <button
          iconArrowDownward
          class="link p-1"
          type="button"
          aria-label="move question down"
          i18n-aria-label
          (click)="swapQuestions($index, $index + 1)"
        ></button>
      } @else {
        <span class="ml-6"></span>
      }
    }
    <app-editor-question
      class="w-0 grow"
      [id]="`r${index()}q${$index}`"
      [question]="question"
      (questionChanged)="updateQuestion($index, $event)"
      (variableChanged)="variableChanged($event)"
    />
    @if (mode() === 'delete') {
      <button
        iconDelete
        class="link"
        type="button"
        aria-label="delete question"
        i18n-aria-label
        (click)="deleteQuestion($index)"
      ></button>
    } @else if (mode() === 'cut-paste') {
      <button
        iconCut
        class="link"
        type="button"
        aria-label="cut question"
        i18n-aria-label
        (click)="cutQuestion($index)"
      ></button>
    } @else if (mode() === 'swap' && !$first) {
      <button
        iconArrowUpward
        class="link p-1"
        type="button"
        aria-label="move question up"
        i18n-aria-label
        (click)="swapQuestions($index - 1, $index)"
      ></button>
    }
  </div>
}

@for (item of rule().items; track $index) {
  <div class="mb-1 flex items-center">
    @if (mode() === 'swap' && $count > 1) {
      @if (!$last) {
        <button
          iconArrowDownward
          class="link p-1"
          type="button"
          aria-label="move item down"
          i18n-aria-label
          (click)="swapItems($index, $index + 1)"
        ></button>
      } @else {
        <span class="ml-6"></span>
      }
    }
    <app-editor-item
      class="grow"
      [id]="`r${index()}i${$index}`"
      [item]="item"
      (itemChanged)="updateItem($index, $event)"
    />
    @if (mode() === 'delete') {
      <button
        iconDelete
        class="link"
        type="button"
        aria-label="delete item"
        i18n-aria-label
        (click)="deleteItem($index)"
      ></button>
    } @else if (mode() === 'cut-paste') {
      <button
        iconCut
        class="link"
        type="button"
        aria-label="cut item"
        i18n-aria-label
        (click)="cutItem($index)"
      ></button>
    } @else if (mode() === 'swap' && !$first) {
      <button
        iconArrowUpward
        type="button"
        class="link p-1"
        aria-label="move item up"
        i18n-aria-label
        (click)="swapItems($index - 1, $index)"
      ></button>
    }
  </div>
}

@if (mode() === 'edit') {
  <div class="flex justify-end gap-2">
    <button
      i18n
      class="h-8"
      type="button"
      aria-label="add question"
      i18n-aria-label
      (click)="addQuestion()"
    >
      + Question
    </button>
    <button
      i18n
      class="h-8"
      type="button"
      aria-label="add item"
      i18n-aria-label
      (click)="addItem()"
    >
      + Item
    </button>
  </div>
} @else {
  <div class="flex justify-center">
    @if (mode() === 'delete') {
      <button
        iconDelete
        type="button"
        class="link"
        aria-label="delete rule"
        i18n-aria-label
        (click)="delete()"
      ></button>
    }
    @if (mode() === 'cut-paste') {
      <button
        iconPaste
        type="button"
        class="link"
        aria-label="paste from clipboard"
        i18n-aria-label
        (click)="paste()"
      ></button>
    }
  </div>
}
