<form class="flex flex-col" [formGroup]="form">
  <input
    class="grow"
    type="text"
    placeholder="question"
    i18n-placeholder="@@edit.question.question.placeholder"
    formControlName="question"
    (focus)="focusQuestion()"
  />
  <div class="flex items-center gap-2">
    <span class="ml-3 font-mono">-></span>
    <input
      class="grow font-mono"
      type="text"
      placeholder="variable"
      formControlName="variable"
      i18n-placeholder="@@edit.question.variable.placeholder"
      [ngClass]="{
        'font-bold': highlighVariable(),
        'text-green-light': highlighVariable() && variableActive(),
        'text-red-light': highlighVariable() && !variableActive(),
      }"
      (focus)="focusVariable()"
    />
  </div>
  @if (mode() === "edit" && form.valid === false && form.touched) {
    <div class="m-1 flex flex-col text-sm text-red-light">
      @if (form.controls.question.errors?.["pattern"]) {
        <span i18n="@@edit.question.question.invalid-characters"
          >Questions cannot contain the characters , ; #</span
        >
      }
      @if (form.controls.question.errors?.["required"]) {
        <span i18n="@@edit.question.question.required"
          >Question is required</span
        >
      }
      @if (form.controls.variable.errors?.["pattern"]) {
        <span i18n="@@edit.question.variable.invalid-characters"
          >Variables cannot contain spaces, or the characters , ; #</span
        >
      }
      @if (form.controls.variable.errors?.["required"]) {
        <span i18n="@@edit.question.variable.required"
          >Variable name is required</span
        >
      }
      @if (form.controls.variable.errors?.["reserved"]) {
        <span i18n="@@edit.question.variable.reserved"
          >This variable name is reserved</span
        >
      }
      @if (form.controls.variable.errors?.["used"]) {
        <span i18n="@@edit.question.variable.used"
          >This variable name is already used</span
        >
      }
    </div>
  }
</form>
