@if (questionsAvailable()) {
  <div class="flex justify-center gap-x-4">
    <button
      type="button"
      class="link"
      role="button"
      aria-label="Lock answers"
      i18n-aria-label
      [attr.aria-pressed]="isAnswersLockActive()"
      (click)="toggleAnswersLock()"
      (keypress)="toggleAnswersLock()"
    >
      @if (isAnswersLockActive()) {
        <app-icon-lock class="h-6 w-6" />
      } @else {
        <app-icon-lock-open class="h-6 w-6" />
      }
    </button>
    @if (trackWeight()) {
      <button
        iconPieChart
        iconClass="h-6 w-6"
        type="button"
        class="link"
        role="button"
        aria-label="Display weight distribution"
        i18n-aria-label
        [attr.aria-pressed]="statsVisible() === 'distribution'"
        (click)="toggleStats('distribution')"
      ></button>
      <button
        iconBarChart
        iconClass="h-6 w-6 rotate-90"
        type="button"
        class="link"
        role="button"
        aria-label="Display heaviest items"
        i18n-aria-label
        [attr.aria-pressed]="statsVisible() === 'heaviestItems'"
        (click)="toggleStats('heaviestItems')"
      ></button>
    }
  </div>
}
<div
  class="contents"
  [@animateDiagram]="statsVisible()"
  [@.disabled]="animationsDisabled()"
>
  @if (statsVisible() === 'distribution') {
    <div class="card mb-1">
      <cmp-pie-chart chartClass="max-w-[300px]" [segments]="weightStats()" />
    </div>
  }
  @if (statsVisible() === 'heaviestItems') {
    <div class="card mb-1 flex flex-col items-center">
      <app-heaviest-items />
    </div>
  }
</div>
<div class="card mb-1">
  <div class="mb-1 flex">
    @if (trackWeight()) {
      <cmp-progress
        class="grow"
        title="weight packing progress"
        i18n-title
        aria-live="polite"
        [attr.aria-label]="statusLabelText()"
        [value]="stats().checkedWeight"
        [max]="stats().totalWeight"
        [animationDuration]="animationDuration()"
      />
    } @else {
      <cmp-progress
        class="grow"
        title="item packing progress"
        i18n-title
        aria-live="polite"
        [attr.aria-label]="statusLabelText()"
        [value]="stats().checkedItems"
        [max]="stats().totalItems"
        [animationDuration]="animationDuration()"
      />
    }
  </div>
  <div class="flex flex-col items-center" aria-hidden="true">
    <span>{{ stats().checkedItems }} / {{ stats().totalItems }}</span>
    @if (trackWeight()) {
      <span>{{
        serializeWeightPartition(stats().checkedWeight, stats().totalWeight)
      }}</span>
    }
  </div>
</div>
