<form class="flex flex-col" role="group" aria-label="question" i18n-aria-label>
  <input
    class="grow"
    type="text"
    placeholder="question"
    i18n-placeholder
    aria-label="question"
    i18n-aria-label
    [formField]="form.question"
    (focus)="focusQuestion()"
  />
  <div class="flex items-center gap-2">
    <app-icon-arrow-forward class="ml-2 h-4" />
    <input
      class="grow font-mono font-bold"
      type="text"
      placeholder="variable"
      i18n-placeholder
      aria-label="variable"
      i18n-aria-label
      [formField]="form.variable"
      [class.text-green]="highlighVariable() && variableActive()"
      [class.text-red]="highlighVariable() && !variableActive()"
      (focus)="focusVariable()"
    />
  </div>
  @let state = form();
  @if (mode() === 'edit' && state.valid() === false && state.dirty()) {
    <div class="text-red m-1 flex flex-col text-sm" role="alert">
      @if (form.question().touched() && form.variable().touched()) {
        @if (form.question().getError('pattern')) {
          @let character = form.question().getError('pattern')?.message;
          <span i18n
            >Questions cannot contain this character '{{ character }}'</span
          >
        }
        @if (form.question().getError('required')) {
          <span i18n>Question is required</span>
        }
        @if (form.variable().getError('pattern')) {
          @let character = form.variable().getError('pattern')?.message;
          @if (character === ' ') {
            <span i18n>Variables cannot contain spaces</span>
          } @else {
            <span i18n
              >Variables cannot contain this character '{{ character }}'</span
            >
          }
        }
        @if (form.variable().getError('required')) {
          <span i18n>Variable name is required</span>
        }
        @if (form.variable().getError('reserved')) {
          <span i18n>This variable name is reserved</span>
        }
        @if (form.variable().getError('used')) {
          <span i18n>This variable name is already used</span>
        }
      }
    </div>
  }
  @if (mode() === 'edit' && warnings().length) {
    <div class="text-yellow-normal m-1 flex flex-col text-sm" role="status">
      @for (warning of warnings(); track $index) {
        @if (warning.type === 'duplicate') {
          <span i18n>
            Variable
            {{
              warning.variable // i18n(ph="VARIABLE_NAME")
            }}
            is declared more than once.
          </span>
        } @else if (warning.type === 'unused') {
          <span i18n>
            Variable
            {{
              warning.variable // i18n(ph="VARIABLE_NAME")
            }}
            is not used in any condition.
          </span>
        }
      }
    </div>
  }
</form>
