@if (rulesAvailable()) {
  @if (!questionsAvailable()) {
    <div class="flex flex-col items-center">
      <p class="text-center" i18n="@@packlist.no-questions">
        No questions available, please
        <button
          type="button"
          class="link inline p-0 underline"
          (click)="goToRulesEdit()"
        >
          create
        </button>
        some.
      </p>
    </div>
  } @else {
    @for (question of questions(); track question.question) {
      <div class="card mb-1" [ngClass]="{ disabled: isLockActive() }">
        <app-display-question
          [question]="question.question"
          [value]="model()[question.variable]"
          (valueChange)="modelChange(question.variable, $event)"
        />
      </div>
    }
    <div class="flex justify-center">
      <button type="button" class="link" (click)="toggleLock()">
        @if (isLockActive()) {
          <app-icon-lock class="h-6 w-6" />
        } @else {
          <app-icon-lock-open class="h-6 w-6" />
        }
      </button>
    </div>

    <app-display-items />
  }
} @else {
  <div class="flex flex-col items-center">
    <p class="text-center" i18n="@@packlist.no-rules">
      No rules available, please
      <button
        class="link inline p-0 underline"
        type="button"
        (click)="goToConfigImport()"
      >
        import
      </button>
      or
      <button
        class="link inline p-0 underline"
        type="button"
        (click)="goToRulesEdit()"
      >
        create
      </button>
      some.
    </p>
  </div>
}
