@if (facade.rulesAvailable()) {
  <app-display-questions />
  <app-packlist-status />
  <app-display-items />
} @else {
  <div class="flex flex-col items-center">
    <p class="text-center" i18n>
      No rules available, please
      <button
        class="link inline p-0 underline"
        type="button"
        (click)="facade.goToConfigImport()"
      >
        import
      </button>
      or
      <button
        class="link inline p-0 underline"
        type="button"
        (click)="facade.goToRulesEdit()"
      >
        create
      </button>
      some.
    </p>
  </div>
}
