<app-toolbar [noOfVisibleRules]="visibleRules().length" />

@if (!visibleRules().length && !filter()) {
  <div class="flex h-[calc(100vh-4rem)] items-center justify-center">
    <div class="flex flex-col items-center gap-6">
      <p i18n>There are no rules defined yet.</p>
      <button
        i18n
        aria-label="Add rule"
        i18n-aria-label
        type="button"
        (click)="addRuleAndEdit()"
      >
        + Rule
      </button>
    </div>
  </div>
}
@for (item of visibleRules(); track item.index) {
  @if (item.index > 0 && mode() === 'swap' && !filter()) {
    <div class="flex justify-center">
      <button
        type="button"
        class="link"
        aria-label="Swap rule above with rule below"
        i18n-aria-label
        (click)="swapRules(item.index - 1, item.index)"
      >
        <app-icon-swap />
      </button>
    </div>
  }
  <div
    class="card mb-1"
    role="group"
    tabindex="0"
    [attr.aria-label]="ruleLabel(item.index)"
    [id]="'rule-' + item.index"
    [class]="{
      disabled: showAsDisabled(item.rule),
      'animate-pulse': highlightRule() === item.index,
      'mb-[2.25rem]':
        (mode() === 'view' || mode() === 'search') &&
        accessibility() === 'compact',
      'mb-12':
        (mode() === 'view' || mode() === 'search') &&
        accessibility() === 'accessible',
    }"
  >
    <app-editor-rule
      [rule]="item.rule"
      (ruleChanged)="updateRule(item.index, $event)"
      (deleteRule)="deleteRule(item.index)"
      (renameVariable)="renameVariable($event)"
    />
  </div>
}
@if (mode() === 'edit' && !filter() && visibleRules().length) {
  <button
    i18n
    aria-label="Add rule"
    i18n-aria-label
    type="button"
    class="p-safe-bottom fixed bottom-2 z-50"
    (click)="addRule()"
  >
    + Rule
  </button>
}

@if (goToPacklistButtonVisible()) {
  <a
    class="p-safe-bottom fixed bottom-2 right-2 z-50"
    aria-hidden="true"
    (click)="goToPacklist()"
  >
    <img alt="application icon" i18n-alt src="icon.svg" class="h-12" />
  </a>
}
