<form
  class="flex"
  role="group"
  aria-label="item"
  i18n-aria-label
  [formGroup]="form"
>
  <select
    class="max-w-[5rem]"
    name="categories"
    formControlName="category"
    aria-label="category"
    i18n-aria-label
  >
    @for (category of categories(); track category) {
      <option [value]="category">{{ category }}</option>
    }
    <option value="">+</option>
  </select>
  <input
    class="w-0 flex-1"
    type="text"
    formControlName="name"
    aria-label="item name"
    i18n-aria-label
    (focus)="focus($event)"
    (blur)="blur()"
  />
</form>
@if (mode() === 'edit' && form.valid === false && form.dirty) {
  <div class="text-red-light m-1 text-sm" role="alert">
    @if (form.controls.name.touched) {
      @if (form.controls.name.errors?.['pattern']; as pattern) {
        <span i18n>Item name cannot contain the character '{{ pattern }}'</span>
      }
      @if (form.controls.name.errors?.['required']) {
        <span i18n>Item name is required</span>
      }
    }
  </div>
}
