<nav
  class="flex h-[3rem] min-h-[3rem] flex-row items-center pb-2"
  role="navigation"
  [inert]="overlayVisible()"
>
  <button
    type="button"
    class="link grow justify-start pl-0"
    aria-label="Go to TravelPacklist"
    role="banner"
    i18n-aria-label
    routerLink="/"
  >
    <!-- eslint-disable-next-line @angular-eslint/template/alt-text -->
    <img aria-hidden="true" src="icon.svg" class="h-8" />
    <h1 i18n class="text-xl font-bold">TravelPacklist</h1>
  </button>
  @if (displayRuleHelpLink()) {
    <button
      iconHelp
      iconClass="h-6 w-6"
      type="button"
      role="link"
      class="link pr-2"
      aria-label="Go to rules format help"
      i18n-aria-label
      (click)="go('documentation')"
    ></button>
  }
  @if (displayHistoryBackLink()) {
    <button
      iconArrowBack
      iconClass="h-6 w-6"
      type="button"
      role="link"
      class="link pr-2"
      aria-label="Go back"
      i18n-aria-label
      (click)="go('back')"
    ></button>
  }
  @if (displayConfigLink()) {
    <button
      iconCog
      iconClass="h-6 w-6"
      type="button"
      role="link"
      class="link pr-2"
      aria-label="Go to configuration"
      i18n-aria-label
      (click)="go('config')"
    ></button>
  }
</nav>

<div
  class="flex grow flex-col pb-[3.5rem]"
  [@routeTransition]="hierarchy()"
  [@.disabled]="disableAnimations()"
  [inert]="overlayVisible()"
>
  <router-outlet />
  <div
    class="fixed bottom-2 left-1/2 -translate-x-1/2"
    [class.hidden]="!scrollTopVisible()"
  >
    <button
      iconArrowUpward
      iconClass="h-6 w-6"
      type="button"
      aria-label="Scroll to top"
      i18n-aria-label
      class="flex w-full items-center justify-center rounded-3xl border border-slate-700 shadow-xl dark:border-slate-300"
      (click)="scrollTop()"
    ></button>
  </div>
</div>

<app-dialog (overlayVisible)="overlayVisible.set($event)" />
