<h2 i18n>App Version</h2>
<span>
  <a
    class="accessible-content inline-block content-center"
    [attr.aria-label]="currentVersionLabel"
    [href]="'https://github.com/dhhyi/travel-packlist/releases/tag/v' + version"
  >
    @if (displayVersionCode) {
      {{ versionCode }} ({{ version }})
    } @else {
      {{ version }}
    }
  </a></span
>
<span i18n class="italic"
  >built on {{ buildTime | date: 'long' // i18n(ph="LONG_DATE") }}</span
>
<span class="truncate font-mono text-sm text-slate-500"
  ><a
    class="accessible-content inline-block content-center"
    [attr.aria-label]="gitHashLabel"
    [href]="'https://github.com/dhhyi/travel-packlist/commit/' + gitHash"
    ><span aria-hidden="true">{{ gitHash }}</span></a
  ></span
>
@if (displayServiceWorkerStatus) {
  <span i18n class="font-mono text-sm"
    >Service Worker: {{ serviceWorkerStatus() }}</span
  >
}
