<h2 class="text-lg font-bold" i18n>Checklist</h2>
<button i18n type="button" (click)="resetChecklist()">Reset Checklist</button>
<cmp-checkbox
  id="track-weight"
  label="Track item weight"
  i18n-label
  help="You can enter the item weight appended to the item name in the editor."
  i18n-help
  [(ngModel)]="trackWeight"
/>
<cmp-checkbox
  id="skip-items"
  label="Allow skipping items"
  i18n-label
  [help]="skipItemsHelpText()"
  [(ngModel)]="skipItems"
/>
<cmp-select-options
  label="Sort categories"
  i18n-label
  [(ngModel)]="categorySorting"
>
  <ng-template value="alphabetically" i18n>alphabetically</ng-template>
  <ng-template value="definition" i18n>order of definition</ng-template>
  @if (trackWeight()) {
    <ng-template value="weight" i18n>by weight</ng-template>
  }
</cmp-select-options>
