<!-- eslint-disable @angular-eslint/template/alt-text -->
<h2 i18n>Support</h2>
<p i18n>
  If you find any bugs or have any suggestions, please open an issue on GitHub:
  <a
    class="accessible-content inline-block"
    href="https://github.com/dhhyi/travel-packlist/issues"
    target="_blank"
    aria-label="open an issue on GitHub"
    i18n-aria-label
  >
    <img
      aria-hidden="true"
      class="inline"
      src="https://img.shields.io/github/issues/dhhyi/travel-packlist"
    />
  </a>
</p>
<p i18n>
  Alternatively, you can reach out to me by

  <a
    class="accessible-content inline-block"
    href="mailto:danilo.hoffmann1+travelpacklist@googlemail.com"
    target="_blank"
    aria-label="email to danilo.hoffmann1@googlemail.com"
    i18n-aria-label
  >
    <img
      aria-hidden="true"
      class="inline"
      src="https://img.shields.io/badge/email-danilo.hoffmann1%40googlemail.com-blue"
    />
  </a>
</p>
@if (displayKoFi) {
  <p i18n>
    If you like this app, please consider to
    <a
      class="accessible-content inline-block"
      href="https://ko-fi.com/danilohoffmann"
      target="_blank"
      aria-label="Buy Me a Coffee at ko-fi.com"
      i18n-aria-label
    >
      <img
        aria-hidden="true"
        class="inline max-w-[10rem]"
        src="https://storage.ko-fi.com/cdn/brandasset/kofi_button_stroke.png"
      />
    </a>
  </p>
}
