<nav class="flex h-12 flex-row items-center pb-2">
  <a class="flex grow" routerLink="/">
    <img
      alt="application icon"
      i18n-alt="@@app.icon"
      src="icon.svg"
      class="h-8"
    />
    <span i18n="@@app.title" class="text-2xl font-bold">Travel Packlist</span>
  </a>
  <a class="pr-2" routerLink="/config" routerLinkActive="hidden">
    <app-icon-cog class="h-6 w-6" />
  </a>
</nav>

<div class="grow-children flex grow flex-col pb-14">
  <router-outlet />

  @if (scrollTopVisible()) {
    <div class="fixed bottom-2 left-1/2 w-16 -translate-x-1/2">
      <button
        type="button"
        class="flex w-full items-center justify-center rounded-3xl border border-slate-300 shadow-xl"
        (click)="scrollTop()"
      >
        <app-icon-up class="h-6 w-6" />
      </button>
    </div>
  }
</div>

<app-dialog />
