h1,
nav {
    display: inline;
    margin-right: 10px;
}

nav a {
    margin-right: 10px;
}

.content {
    margin-top: 10px;
    height: 90vh;
    display: grid;
}

.content>router-outlet {
    display: none;
}
