<h2 i18n>Remote Source</h2>
<div class="relative">
  <textarea
    class="w-full"
    aria-label="remote rules source"
    i18n-aria-label
    rows="4"
    placeholder="insert URL here"
    i18n-placeholder
    [formControl]="control"
  ></textarea>
  <button
    class="absolute right-1 top-1 bg-white bg-opacity-50 hover:bg-opacity-50 dark:bg-slate-900 dark:bg-opacity-50"
    type="button"
    [class.hidden]="!control.value"
    (click)="clearRemote()"
  >
    <app-icon-close class="h-4 w-4" />
  </button>
</div>
<div class="flex flex-row items-center">
  <button
    iconHistory
    iconClass="h-6 w-6"
    type="button"
    class="link"
    aria-label="Load source from history"
    i18n-aria-label
    [disabled]="!remoteHistory().length"
    (click)="remoteHistoryVisible.set(!remoteHistoryVisible())"
  ></button>
  <div
    class="grow text-center font-mono"
    aria-label="remote source status"
    role="status"
    i18n-aria-label
  >
    {{ remoteStatus().i18n }}
  </div>
  <button
    iconRefresh
    iconClass="h-6 w-6"
    type="button"
    class="link"
    aria-label="Reload source"
    i18n-aria-label
    [disabled]="!control.value"
    (click)="reloadRemote()"
  ></button>
</div>
@if (remoteHistoryVisible()) {
  <ul>
    @for (item of remoteHistory(); track $index) {
      <li class="flex cursor-pointer items-center p-1 text-sm">
        <span
          class="grow break-all"
          tabindex="0"
          (click)="loadRemote(item)"
          (keypress)="loadRemote(item)"
        >
          {{ item }}
        </span>
        <button
          iconDelete
          iconClass="min-h-4 min-w-4"
          type="button"
          class="link pr-0"
          aria-label="remove entry from history"
          i18n-aria-label
          (click)="removeFromHistory(item)"
        ></button>
      </li>
    }
  </ul>
}
<button
  i18n
  type="button"
  [disabled]="remoteStatus().state !== 'loaded'"
  (click)="copyRulesLocally()"
>
  Copy rules locally
</button>
