<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<ng-container #content />

<ng-template #keyword let-text>
  <span class="font-bold">{{ text }}</span>
</ng-template>

<ng-template #variable let-variable>
  <span
    class="font-mono"
    [ngClass]="{
      'font-bold': highlighVariable(),
      'text-green-light': highlighVariable() && variableActive(variable),
      'text-red-light': highlighVariable() && !variableActive(variable),
    }"
    >{{ variable }}</span
  >
</ng-template>

<ng-template
  #select
  let-value
  let-options="options"
  let-selection="selection"
  let-width="width"
>
  <select
    #selectbox
    class="font-mono"
    [style]="{ width: width }"
    (change)="selection(selectbox.value, value)"
  >
    <!-- eslint-disable @angular-eslint/template/i18n -->
    @for (option of options; track $index) {
      @switch (option) {
        @case ("not") {
          <option value="not">NOT {{ variablePlaceholder(value) }}</option>
        }
        @case ("and") {
          <option value="and">{{ variablePlaceholder(value) }} AND x</option>
        }
        @case ("or") {
          <option value="or">{{ variablePlaceholder(value) }} OR x</option>
        }
        @default {
          <option
            [value]="option"
            [selected]="value === option"
            [disabled]="option === please_select"
          >
            {{ option }}
          </option>
        }
      }
    }
    <!-- eslint-enable @angular-eslint/template/i18n -->
  </select>
</ng-template>
