@if (!questions().length) {
  <div class="flex flex-col items-center">
    <p class="text-center" i18n>
      No questions available, please
      <button
        type="button"
        class="link inline p-0 underline"
        (click)="goToRulesEdit()"
      >
        create
      </button>
      some.
    </p>
  </div>
} @else {
  <div
    [@.disabled]="animationsDisabled()"
    [@animateQuestions]="displayQuestions()"
  >
    @for (question of displayQuestions(); track question.question) {
      <div
        class="card flex flex-row items-center justify-between overflow-hidden"
        role="checkbox"
        tabindex="0"
        [attr.aria-checked]="isQuestionActive(question)"
        [attr.aria-disabled]="isAnswersLockActive()"
        [attr.aria-label]="question.question"
        [class.disabled]="isAnswersLockActive()"
        [class.mb-1]="!$last"
        (click)="toggleQuestion(question)"
        (keypress)="toggleQuestion(question)"
      >
        <span aria-hidden="true" class="select-none font-bold">{{
          question.question
        }}</span>
        @if (isQuestionActive(question)) {
          <app-icon-checkmark />
        }
      </div>
    }
  </div>
}
