<div
  class="bg-white py-2"
  [ngClass]="{ 'sticky left-0 top-0 z-50 shadow-md': sticky() }"
>
  <div class="mb-1 grid grid-cols-5 gap-2">
    <button
      class="icon"
      (click)="mode.setMode('view')"
      [ngClass]="{ 'ring ring-slate-700': mode.isMode('view') }"
    >
      <app-icon-view class="my-auto" [size]="24"></app-icon-view>
    </button>
    <button
      class="icon"
      (click)="mode.setMode('edit')"
      [ngClass]="{ 'ring ring-slate-700': mode.isMode('edit') }"
    >
      <app-icon-edit class="my-auto" [size]="24"></app-icon-edit>
    </button>
    <button
      class="icon"
      (click)="mode.setMode('delete')"
      [ngClass]="{ 'ring ring-slate-700': mode.isMode('delete') }"
    >
      <app-icon-delete class="my-auto" [size]="24"></app-icon-delete>
    </button>
    <button
      class="icon"
      (click)="mode.setMode('cut-paste')"
      [ngClass]="{ 'ring ring-slate-700': mode.isMode('cut-paste') }"
    >
      <app-icon-reorder class="my-auto" [size]="24"></app-icon-reorder>
    </button>
    <button
      class="icon"
      (click)="mode.setMode('swap')"
      [ngClass]="{ 'ring ring-slate-700': mode.isMode('swap') }"
    >
      <app-icon-swap class="my-auto" [size]="24"></app-icon-swap>
    </button>
  </div>
  @if (mode.isMode("cut-paste")) {
    <div class="flex justify-center gap-5">
      <span>Clipboard:</span>
      @if (clipboard.itemsCount === 0 && clipboard.questionsCount === 0) {
        <span>empty</span>
      } @else {
        @if (clipboard.itemsCount) {
          <span>{{ clipboard.itemsCount }} Items</span>
        }
        @if (clipboard.questionsCount) {
          <span>{{ clipboard.questionsCount }} Questions</span>
        }
      }
    </div>
  }
</div>
