<button (click)="mode.setMode('view')" [class.active]="mode.isMode('view')">
  View
</button>
<button (click)="mode.setMode('edit')" [class.active]="mode.isMode('edit')">
  Edit
</button>
<button (click)="mode.setMode('delete')" [class.active]="mode.isMode('delete')">
  Delete
</button>
<button
  (click)="mode.setMode('cut-paste')"
  [class.active]="mode.isMode('cut-paste')"
>
  Cut &amp; Paste
</button>

@if (mode.isMode("cut-paste")) {
  <div>
    <div>Clipboard:</div>
    @if (clipboard.itemsCount === 0 && clipboard.questionsCount === 0) {
      <span>empty</span>
    } @else {
      <div>
        @if (clipboard.itemsCount) {
          <span>{{ clipboard.itemsCount }} Items</span>
        }
        @if (clipboard.questionsCount) {
          <span>{{ clipboard.questionsCount }} Questions</span>
        }
      </div>
    }
  </div>
}
