:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.floating-button {
  border: 2px solid var(--gray);
  border-radius: 3px;
  padding: 10px 20px;
}

.floating-button:hover,
.floating-button.active {
  background-color: var(--gray);
  color: white;
}

.clipboard-status {
  display: flex;
  flex-direction: row;
}

.clipboard-content {
  display: flex;
  flex-direction: column;
}
