<div class="card mb-1 flex flex-col items-center gap-y-1">
  @if (trackWeight()) {
    <cmp-progress-bar
      title="weight packing progress"
      i18n-title
      aria-live="polite"
      [attr.aria-label]="statusLabelText()"
      [value]="stats().checkedWeight"
      [max]="stats().totalWeight"
      [animationDuration]="animationDuration()"
    />
  } @else {
    <cmp-progress-bar
      title="item packing progress"
      i18n-title
      aria-live="polite"
      [attr.aria-label]="statusLabelText()"
      [value]="stats().checkedItems"
      [max]="stats().totalItems"
      [animationDuration]="animationDuration()"
    />
  }
  <div class="contents" aria-hidden="true">
    <span>{{ stats().checkedItems }} / {{ stats().totalItems }}</span>
    @if (trackWeight()) {
      <span>{{
        serializeWeightPartition(stats().checkedWeight, stats().totalWeight)
      }}</span>
    }
  </div>
</div>
