<div class="flex flex-col justify-between">
  <button
    iconArrowUpward
    iconClass="h-6 w-6"
    type="button"
    class="link px-1"
    aria-label="Previous page"
    i18n-aria-label
    [disabled]="currentPage() <= 0"
    (click)="previousPage()"
  ></button>
  <button
    iconArrowDownward
    iconClass="h-6 w-6"
    type="button"
    class="link px-1"
    aria-label="Next page"
    i18n-aria-label
    [disabled]="currentPage() >= lastPage()"
    (click)="nextPage()"
  ></button>
</div>
<div class="grow overflow-hidden">
  @for (page of heaviestItems(); track $index) {
    @if ($index === currentPage()) {
      <cmp-bar-chart
        [bars]="page"
        [animate.enter]="!animationsDisabled() && 'animate-fade-in'"
        [animate.leave]="!animationsDisabled() && 'animate-fade-out'"
        (clicked)="barClicked($event)"
      />
    }
  }
</div>
