<h2 i18n>Rules Editor</h2>
<button i18n type="button" (click)="go('rules')">Edit Rules</button>
<cmp-checkbox
  id="rules-debug-mode"
  label="Fade out disabled rules in editor"
  i18n-label
  [(ngModel)]="fadeOutDisabledRules"
/>
<cmp-checkbox
  id="variables-debug-mode"
  label="Highlight variable status in editor"
  i18n-label
  [(ngModel)]="highlightVariableStatus"
/>
<cmp-checkbox
  id="variables-refactor"
  label="Rename all occurrences when renaming variables"
  i18n-label
  [(ngModel)]="refactorVariables"
/>
<button i18n type="button" (click)="go('documentation')">Documentation</button>
<button i18n type="button" (click)="go('rules-raw')">
  Edit Rules with Code
</button>
