<div class="flex flex-col gap-2 pb-2">
  <span class="font-bold">Answers</span>
  <button (click)="resetChecklist()">Reset Checklist</button>
</div>

<div class="flex flex-col gap-2 pb-2">
  <span class="font-bold">Rules</span>
  <button routerLink="/documentation">Documentation</button>
  <button routerLink="/rules">Edit Rules</button>
  <button routerLink="/rules-raw">Edit Rules with Code</button>
  <button (click)="exportRules()">Export Rules</button>
  <button (click)="importRules()">Import Rules</button>
</div>

<div class="flex flex-col gap-2 pb-2">
  <span class="font-bold">App Version</span>
  <span>{{ env.version }}</span>
  <span class="font-mono text-sm text-slate-500"
    ><a
      href="https://github.com/dhhyi/travel-packlist/commit/{{ env.git_hash }}"
      >{{ env.git_hash }}</a
    ></span
  >
</div>

<div class="flex flex-col gap-2 pb-2">
  <span class="font-bold">DANGER!</span>
  <button class="red" (click)="resetEverything()">Reset Application</button>
</div>
