<!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
<div class="section">
  <span class="font-bold">Checklist</span>
  <button type="button" (click)="resetChecklist()">Reset Checklist</button>
  <div class="flex items-center gap-3">
    <input
      type="checkbox"
      id="track-weight"
      [formControl]="trackWeightControl"
    />
    <label for="track-weight" class="grow">Track item weight</label>
    <p class="w-1/2 text-sm italic">
      You can enter the item weight appended to the item name in the editor.
    </p>
  </div>
</div>

<div class="section">
  <span class="font-bold">Rules</span>
  <button type="button" routerLink="/rules">Edit Rules</button>
  <div class="flex items-center gap-3">
    <input
      type="checkbox"
      id="rules-debug-mode"
      [formControl]="fadeOutDisabledRulesControl"
    />
    <label for="rules-debug-mode">Fade out disabled rules in editor</label>
  </div>
  <hr />
  <button type="button" routerLink="/documentation">Documentation</button>
  <button type="button" routerLink="/rules-raw">Edit Rules with Code</button>
  <hr />
  <button type="button" (click)="exportRules()">Export Rules</button>
  <button type="button" (click)="importRules()">Import Rules</button>
</div>

<div class="section">
  <span class="font-bold">Theme</span>
  <div class="grid grid-cols-3 gap-3">
    <button
      type="button"
      [ngClass]="{
        'ring ring-slate-800 dark:ring-slate-200': getTheme() === 'dark',
      }"
      (click)="setTheme('dark')"
    >
      Dark
    </button>
    <button
      type="button"
      [ngClass]="{
        'ring ring-slate-800 dark:ring-slate-200': getTheme() === 'light',
      }"
      (click)="setTheme('light')"
    >
      Light
    </button>
    <button
      type="button"
      [ngClass]="{
        'ring ring-slate-800 dark:ring-slate-200': getTheme() === 'system',
      }"
      (click)="setTheme('system')"
    >
      System
    </button>
  </div>
</div>

<div class="section">
  <span class="font-bold">App Version</span>
  <span>{{ env.version }}</span>
  <span class="italic">built {{ env.build_time * 1000 | date: "long" }}</span>
  <span class="font-mono text-sm text-slate-500"
    ><a
      [href]="'https://github.com/dhhyi/travel-packlist/commit/' + env.git_hash"
      >{{ env.git_hash }}</a
    ></span
  >
</div>

<div class="section">
  <span class="font-bold">Support</span>
  <div class="flex flex-col gap-4">
    <p>
      If you find any bugs or have any suggestions, please open an issue on
      GitHub:
      <a href="https://github.com/dhhyi/travel-packlist/issues" target="_blank">
        <img
          class="inline"
          src="https://img.shields.io/github/issues/dhhyi/travel-packlist"
          alt="GitHub issues"
        />
      </a>
    </p>
    <p>
      Alternatively, you can reach out to me by
      <a href="mailto:dhhyi@aol.com" target="_blank">
        <img
          class="inline"
          src="https://img.shields.io/badge/email-dhhyi%40aol.com-blue"
          alt="Email"
        />
      </a>
    </p>
    <p>
      If you like this app, please consider to

      <a href="https://ko-fi.com/danilohoffmann" target="_blank">
        <img
          class="inline max-w-40"
          src="https://storage.ko-fi.com/cdn/brandasset/kofi_button_stroke.png"
          alt="Buy Me a Coffee at ko-fi.com"
        />
      </a>
    </p>
  </div>
</div>

<div class="section">
  <span class="font-bold">DANGER!</span>
  <button type="button" class="red" (click)="resetEverything()">
    Reset Application
  </button>
</div>
