<form class="flex" [formGroup]="form">
  <select class="max-w-24" name="categories" formControlName="category">
    @for (category of categories(); track category) {
      <option [value]="category">{{ category }}</option>
    }
    <option value="">+</option>
  </select>
  <input
    type="text"
    formControlName="name"
    [ngClass]="{
      'w-36': fontSize() === 'large',
      'w-44': fontSize() === 'normal',
    }"
    (focus)="focus($event)"
    (blur)="blur()"
  />
</form>
@if (mode() === "edit" && form.valid === false && form.touched) {
  <div class="m-1 text-sm text-red-500">
    @if (form.controls.name.touched) {
      @if (form.controls.name.errors?.["pattern"]) {
        <span i18n="@@edit.item.name.invalid-characters"
          >Item name cannot contain the characters , ; #</span
        >
      }
      @if (form.controls.name.errors?.["required"]) {
        <span i18n="@@edit.item.name.required">Item name is required</span>
      }
    }
  </div>
}
