<div class="card mb-1">
  @let checkedItems = view().checked;
  @let totalItems = view().numberOfItems;
  @let checkedWeight = view().checkedWeight;
  @let totalWeight = view().totalWeight;
  @if (trackWeight()) {
    <div class="mb-1 flex">
      <progress
        class="grow"
        [value]="checkedWeight"
        [max]="totalWeight"
      ></progress>
    </div>
    <div class="flex flex-col items-center">
      <span>{{ checkedItems }} / {{ totalItems }}</span>
      <span>{{ serializeWeightPartition(checkedWeight, totalWeight) }}</span>
    </div>
  } @else {
    <div class="mb-1 flex">
      <progress
        class="grow"
        [value]="checkedItems"
        [max]="totalItems"
      ></progress>
    </div>
    <div class="flex justify-center">
      <span>{{ checkedItems }} / {{ totalItems }}</span>
    </div>
  }
</div>

@for (group of view().categories | keyvalue: orderBy(); track group.key) {
  @let categoryName = group.key;
  @let category = group.value;
  <div class="card mb-1">
    <div
      role="button"
      tabindex="0"
      class="flex justify-between"
      (click)="toggleCategoryCollapse(categoryName)"
      (keypress)="toggleCategoryCollapse(categoryName)"
    >
      <div class="flex items-center gap-1">
        @if (category.collapsed) {
          <app-icon-key-right class="h-6 w-6" />
        } @else {
          <app-icon-key-down class="h-6 w-6" />
        }
        <span class="font-bold italic">{{ categoryName }}</span>
        @if (trackWeight() && category.totalWeight) {
          <span class="text-sm">
            @if (category.checkedWeight === category.totalWeight) {
              ({{ serializeWeight(category.checkedWeight, undefined, 1) }})
            } @else {
              ({{
                serializeWeightPartition(
                  category.checkedWeight,
                  category.totalWeight
                )
              }})
            }
          </span>
        }
      </div>
      <app-status [count]="category.checked" [total]="category.items.length" />
    </div>
    @if (!category.collapsed) {
      <ul class="pt-2">
        @for (item of category.items; track $index) {
          <li
            role="button"
            tabindex="0"
            class="flex justify-between"
            [ngClass]="{
              'text-slate-600 line-through dark:text-slate-400': item.checked,
            }"
            (click)="toggleCheckedItem(item)"
            (keypress)="toggleCheckedItem(item)"
          >
            {{ item.name }}
            @if (item.weight && trackWeight()) {
              <span class="italic">{{ serializeWeight(item.weight) }}</span>
            }
          </li>
        }
      </ul>
    }
  </div>
}
