@if (!numberOfItems()) {
  <div class="flex flex-col items-center">
    <p i18n class="text-center">No items available.</p>
  </div>
}

<div
  class="contents"
  [@animateCategory]="packlist()"
  [@.disabled]="animationsDisabled()"
>
  @for (category of packlist(); track category.name) {
    <div
      class="card mb-1 overflow-hidden"
      role="list"
      [attr.aria-label]="category.name"
      [@animateItems]="category"
    >
      <div
        aria-hidden="true"
        class="accessible-content flex items-center justify-between"
        (click)="toggleCategoryCollapse(category.name)"
      >
        <div class="flex items-center gap-1">
          <app-icon-key-right
            class="h-6 w-6"
            [@animateChevron]="category.collapsed"
          />
          <span class="font-bold italic">{{ category.name }}</span>
          @if (trackWeight() && category.totalWeight) {
            <span class="text-sm">
              @if (category.checkedWeight === category.totalWeight) {
                ({{ serializeWeight(category.checkedWeight, undefined, 1) }})
              } @else {
                ({{
                  serializeWeightPartition(
                    category.checkedWeight,
                    category.totalWeight
                  )
                }})
              }
            </span>
          }
        </div>
        <app-items-status
          [count]="category.checked"
          [total]="category.items.length"
        />
      </div>
      @if (!category.collapsed) {
        @for (item of category.items; track item.name) {
          <div role="listitem">
            <div
              role="checkbox"
              tabindex="0"
              class="flex select-none items-center justify-between"
              [attr.aria-checked]="item.checked"
              [class.text-checked-item]="item.checked"
              [@animateStrikeThrough]="item.checked"
              (click)="toggleCheckedItem(item)"
              (keypress)="toggleCheckedItem(item)"
            >
              {{ item.name }}
              @if (item.weight && trackWeight()) {
                <span class="italic">{{ serializeWeight(item.weight) }}</span>
              }
            </div>
          </div>
        }
      }
    </div>
  }
</div>
