@if (!stats().totalItems) {
  <div class="flex flex-col items-center">
    <p i18n class="text-center">No items available.</p>
  </div>
}

<div
  class="contents"
  [@animateCategory]="packlist()"
  [@.disabled]="animationsDisabled()"
>
  @for (category of packlist(); track category.name) {
    <div
      class="card mb-1 overflow-hidden"
      role="list"
      [id]="category.id"
      [class.animate-pulse]="category.id === fragment()"
      [attr.aria-label]="category.name"
      [@animateItems]="category"
    >
      <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
      <div
        aria-hidden="true"
        class="accessible-content flex items-center justify-between rounded-sm pr-1"
        [style.background-color]="backgroundColor(category)"
        (click)="toggleCategoryCollapse(category.name)"
      >
        <div class="flex items-center gap-1">
          <app-icon-key-right
            class="h-6 w-6"
            [@animateChevron]="category.collapsed"
          />
          <span class="font-bold italic">{{ category.name }}</span>
          @if (trackWeight() && category.totalWeight) {
            <span class="text-sm">
              @if (category.checkedWeight === category.totalWeight) {
                ({{ serializeWeight(category.checkedWeight, undefined, 1) }})
              } @else {
                ({{
                  serializeWeightPartition(
                    category.checkedWeight,
                    category.totalWeight
                  )
                }})
              }
            </span>
          }
        </div>
        <app-items-status
          [count]="category.checkedItems"
          [total]="category.totalItems"
        />
      </div>
      @if (!category.collapsed) {
        @for (item of category.items; track item.name) {
          @let bgColor = backgroundColor(item);
          <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
          <div
            role="listitem"
            class="rounded-sm px-1"
            [id]="item.id()"
            [class.animate-pulse]="item.id() === fragment()"
            [style.background-color]="bgColor"
          >
            <div
              role="checkbox"
              tabindex="0"
              class="flex select-none items-center justify-between"
              [attr.aria-checked]="item.checked"
              [class.text-checked-item]="item.checked && !item.skipped"
              [class.text-skipped-item]="item.skipped"
              [@animateStrikeThrough]="item.checked"
              (click)="toggleCheckedItem(item)"
              (keypress)="toggleCheckedItem(item)"
              (dblclick)="dblclick(item)"
              (touchstart)="tapStart(item)"
              (touchmove)="tapEnd()"
              (touchend)="tapEnd()"
            >
              {{ item.name }}
              @if (item.weight && trackWeight()) {
                <span class="italic">{{ serializeWeight(item.weight) }}</span>
              }
            </div>
          </div>
        }
      }
    </div>
  }
</div>
