<form class="flex" role="group" aria-label="item" i18n-aria-label>
  <select
    class="max-w-[5rem]"
    aria-label="category"
    i18n-aria-label
    [formField]="form.category"
  >
    @for (category of categories(); track category) {
      <option [value]="category">{{ category }}</option>
    }
    <option value="">+</option>
  </select>
  <input
    class="w-0 flex-1"
    type="text"
    formControlName="name"
    aria-label="item name"
    i18n-aria-label
    [formField]="form.name"
    (focus)="focusName()"
  />
</form>
@if (mode() === 'edit' && form().valid() === false && form().dirty()) {
  <div class="text-red-light m-1 text-sm" role="alert">
    @if (form.name().touched()) {
      @for (error of form.name().errors() | slice: -1; track error) {
        @switch (error.kind) {
          @case ('pattern') {
            <span i18n
              >Item name cannot contain the character '{{
                error.message
              }}'</span
            >
          }
          @case ('required') {
            <span i18n>Item name is required</span>
          }
        }
      }
    }
  </div>
}
